@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
body {
    background-color: #dadce0;
    margin: 0;
    padding: 0
}

.editor {
    height: 864px;
    width:624px;
    margin: 0 auto;
    padding: 96px;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgb(199, 199, 199);
    margin-bottom: 20px;
}
.editor:focus {
    outline: 0;
}
/* Header */
.options {
    color: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 22px;
    column-gap: 11px;
    margin-bottom: 10px;
    border: 1px solid rgb(173, 177, 180);
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */;
  background-color: #fff;
  padding: 10px 0
}
.options > * {
    padding: 3px 8px 2px 8px;
    border-radius: 5px;
}
.options > *:hover {
    background-color: rgb(234, 237, 240);
}
.breaker {
    width: 1px;
    height: 18px;
    background-color: rgb(218, 220, 224);
    padding: 0
}
/* Header Text style */
.header-styles {
    display: flex;
    column-gap: 10px;
    cursor: pointer;
    position: relative;
}
.style-options {
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top:30px;
    box-shadow: 0px 0px 5px 2px rgb(218, 220, 224);
}
.style-option {
    border-bottom: 1px solid rgb(218, 220, 224);
}
.style-option>span {
    padding: 25px 150px 25px 10px;
    overflow: auto;
    display: block;
    white-space: nowrap;
    width: max-content;
    background-color: #fff;
}
.style-option>span:hover {
    background-color: rgb(234, 237, 240);
    width: auto;
}
/* Header Icons */
.text-color, .underline, .italic, .bold  {
    font-family: 'Roboto Slab', serif;
    margin-top: -5px;
}
.options > i {
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}
.bold {
    font-weight: 700;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.text-color > div {
    height: 3px;
    width: 140%;
    background-color: red;
    margin-left: -20%
}
